@font-face {
  font-family:"divine-font";
  src:url("fonts/divine-font.eot");
  src:url("fonts/divine-font.eot?#iefix") format("embedded-opentype"),
		url("fonts/divine-font.woff") format("woff"),
		url("fonts/divine-font.ttf") format("truetype"),
		url("fonts/divine-font.svg?#divine-font") format("svg");
  font-weight:normal;
  font-style:normal;
}

.Icon {
  font-family:"divine-font";
  display:inline-block;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


/* Icons */
.Icon--speaker:before {
  content:"\f100";
}
.Icon--mute:before {
  content:"\f101";
}
.Icon--sound:before {
  content:"\f102";
}